 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

*{
  font-family:'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  }

  html{
	  font-size: 62.5%;
  }

    body{
      color: #FFF;
      background-color: #041634;
    }

      h2{
     font-size: 10rem;
     font-weight: 500;
     padding-bottom: 2rem;
     animation-name: textWow;
     animation-duration:2s;
     animation-timing-function:ease;
     }

        p{
        font-size: 1.8rem;
        font-weight: 300;
        line-height:2.4rem;
        color: #FFF;
        }

        img:hover{
          transform: scale(1.03);
          cursor: pointer;
          transition: transform 2s;
        }

                          /*INICIO ESTILOS HEADER*/   
  .header{ 
     background-color: #041634; 
   }                                         

  .nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .logoH1 a{
    display: flex;
    font-size: 3rem;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }

  #divNav{
    display: flex;
    animation-name: textWow;
    animation-duration:2s;
    animation-timing-function:ease;
  }

#divNav ul li a{
  display: flex;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFF;
}

#divNav ul li  a:hover{
  text-shadow: 0 0 10px #6EC1E4,
  0 0 20px #6EC1E4,
  0 0 40px #6EC1E4;
}





                             /*INICIO ESTILOS MAIN INDEX*/

.main{
  display: flex;
  flex-direction: column;
}

.textCenter{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.textRight{
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 1rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.textLeft{
  display: flex;
  padding-left: 5rem;
  padding-top: 1rem;
}

.imgCenter{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.imgRight{
  display: flex;
  margin-left: auto;
  margin-right: 5rem;
}

.imgLeft{
display: flex;
margin-left: 5rem;
}

.imgRectangulo{
  height: 500px;
  width: 750px;
}

.imgCuadrado{
  height: 620px;
  width: 620px;
}


.tituloCenter{
  text-align: center;
  margin-top: 6rem;
}

.tituloLeft{
  margin-top: 6rem;
  margin-top: 10rem;
  margin-left: 2rem;
}

.tituloRight{
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 1rem;
  padding-right: 3rem;
}

                          /*INICIO ESTILOS FOOTER*/

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.footer h3{
  padding: 1rem;
}

.imgFooter_Sm{
  height: 4.5rem;
  width: 4.5rem;
}

                    /*INICIO ESTILOS BATERISTA*/

.divBaterista{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
  height: 500px;
  width: 750px;
}

.textBaterista{
  width: 800px;
  padding-left: 3rem;
  padding-top: 2rem;

}

.divVideo_Baterista{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.divVid{
  padding-top: 5rem;
}


                  /*INICIO ESTILOS SOBREDOSIS DE SODA*/

.textSobredosis{
  width: 800px;
  padding-left: 3rem;
  padding-top: 2rem;
}

.divSobredosis{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
  height: 500px;
  width: 750px;
}

.divVideo_Sobredosis{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.asideSoda{
  padding-top: 13rem;
}

.asideSoda h2{
  font-size: 6rem;
  
}

.divSponsor{
  display: flex;
  justify-content: center;
}

.article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.article img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 1rem;
  height: 135px;
  width: 310px;
}

                  /*IINICIO ESTILOS MODO UNIVERSAL*/

.divModo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
  height: 500px;
  width: 750px;
}

.textModo{
  width: 850px;
  padding-left: 3rem;
  padding-top: 2rem;
}

.divVideo_Modo{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imgSmall{
  height: 15rem;
  width: 15rem;
}

.divImgs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.audios{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}



                  /*INICIO ESTILOS CLASE*/


.divClases{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgClases{
  margin-left: 5rem;
  height: 620px;
  width: 620px;
}

.textClases{
  margin-left: 5rem;
  padding: 3rem;
  width: 600px;
}

aside{
  margin-top: 15rem;
}

.sectionClases h2{
  font-size: 6rem;
}

.sectionClases iframe{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.form{
  display: flex;
  flex-direction: column;
}

.form label{
  font-size: 2rem ;
  width: 500px;
  display: flex;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.form input{
  display: flex;
  height: 5rem;
  font-size: 2rem;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form textarea{
  width: 500px;
  height: 300px;
  padding-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.form button{
  display: flex;
  flex-direction: row;
  width: 7rem;
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
}


                  /* GRID CONTENEDOR UNA COLUMNA (INDEX,BATERISTA,MODO) */

.contenedor{
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "nav" 
                      "main" 
                      "footer";
}

#nav{
  grid-area: nav;
}

#main{
  grid-area: main;
}

#footer{
  grid-area: footer;
}

/*  GRID CONTENEDOR DOS COLUMNAS (SOBREDOSIS,CLASES) */

.contenedorDos{
  display: grid;
  grid-template-columns: repeat(2,50% 50%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav nav" 
                      "main aside" 
                      "video video"
                      "footer footer";
}

#nav{
  grid-area: nav;
}

#main{
  grid-area: main;
}

#aside{
  grid-area: aside;
}

#video{
  grid-area: video;
}

#footer{
  grid-area: footer;
}


                      /* MEDIA QUERIES UNA COLUMNA*/


@media screen and (min-width: 743px) and (max-width: 1244px){

  .contenedor{
  display: grid;
  grid-template-columns: 1fr;
  grid grid-template-rows: 3 repeat(auto);
  grid-template-areas: "nav" 
                       "main" 
                       "footer";
  }

  #nav{
  grid-area: nav;
  }

  #main{
  grid-area: main;
  }

  #footer{
  grid-area: footer;
  }



  /* MEDIA QUERIES DOS COLUMNAS */

.contenedorDos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,auto);
  grid-template-areas: "nav" 
                      "main" 
                      "aside"
                      "video"
                      "footer";
}

#nav{
  grid-area: nav;
}

#main{
  grid-area: main;
}

#aside{
  grid-area: aside;
}

#video{
  grid-area: video;
}

#footer{
  grid-area: footer;
}



                    /* ESTILOS MEDIA QUERIES GENERALES */
#main{
  display: flex;
  flex-direction: column;
}


#main h2{
  font-size: 8rem;
  text-align: center;

}

#main img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#main p{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}



                       /* ESTILOS MEDIA QUERIES SOBREDOSIS */

.divSobredosis{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;

}

.divVideo_Sobredosis iframe{
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.asideSoda{
  padding-top: 0.5rem
}

              
                      /* ESTILOS MEDIA QUERIES BATERISTA */

.textBaterista{
  width: 710px;
  padding-left: 3rem;
  padding-top: 2rem;
}

.divBaterista{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
}

.divVideo_Baterista iframe{
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

                    /* ESTILOS MEDIA QUERIES MODO */


.divVideo_Modo iframe{
  padding-bottom: 2rem;
}

.divImgs{
  flex-direction: column;
}

.divImgs img{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

.textModo{
  width: 720px;
  padding-left: 3rem;
  padding-top: 2rem;
}

/* ESTILOS MEDIA QUERIES CLASES */






                  /* ANIMACIONES */

@keyframes textWow{
  from{opacity: 0}
  to{opacity: 1}
}






















