.textBaterista{
  width: 100%;
  padding-left: 3rem;
  padding-top: 2rem;

}

.divVideo_Baterista{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.divVid{
  padding-top: 5rem;
}

