.divClases{
  @include flex(flex,column);
  justify-content: center;
}

.imgClases{
  margin-left: 5rem;
  height: 620px;
  width: 620px;
}

.textClases{
  margin-left: 5rem;
  padding: 3rem;
  width: 87%;
}

.sectionClases{
  margin-top: 20rem;

  h2{
    font-size: $textLg;
  }
}

.sectionClases iframe{
  @include flex(flex,column);
  width: 500px;
  height: 400px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}


.form{
  @include flex(flex,column);
  color: map-get($map:$paleta,$key:'dos');
  font-size: $textSm2;
  width: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  input{
    @extend .form;
  }

  label{
    @extend .form;
  }

  textarea{
    @extend .form;
    height: 300px;
  }
}



.btnClases{
  @include flex(flex,row);
  margin-left: auto;
  margin-right: 10rem;
  font-size: $textXs;
  &:hover{
          text-shadow: 0 0 10px map-get($map:$paleta,$key:'tres'),
                       0 0 20px map-get($map:$paleta,$key:'tres'),
                       0 0 40px map-get($map:$paleta,$key:'tres');
}


}