*{
   margin: 0;
   padding: 0;
   font-family: $fontMain;
}

html{
	  font-size: 62.5%;
  }

    body{
      background-color: map-get($map:$paleta,$key:'uno');
    }

      img:hover{
        transform: scale(1.03);
        cursor: pointer;
        transition: transform 2s;
      }


        // Mixin´s


@mixin flex($flex,$direction){
  display: $flex;
  flex-direction: $direction;
}

@mixin texto($font-size,$line-height,$font-weight){
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

  p{
   @include texto($textXs,2.4rem,300)
   color: map-get($map:$paleta,$key:'dos');
   font-family: $fontSecond;
  }

  h2{
    @include texto($textXl,12rem,400)
    color: map-get($map:$paleta,$key:'dos');
    font-family:$fontThride;
    padding-bottom: 2rem;
    animation-name: textWow;
    animation-duration:2s;
    animation-timing-function:ease;
    }


