.main{
  @include flex(flex,column);
}

  .textCenter{
    text-align: center;
    padding-top: 1rem;
  }

  .textLeft{
    padding-top: 1rem;
  }

  .textRight{
    @include flex(flex,row-reverse);
    padding-bottom: 1rem;
    padding-right: 5rem;
    padding-top: 1rem;
  }

  .imgCenter{
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  .imgRight{
    @extend .imgCenter;
    margin-right: 10rem;
  }

  .imgLeft{
    display: flex;
  }

  .tituloCenter{
    text-align: center;
    margin-top: 6rem;
  }

  .tituloLeft{
    margin-top: 10rem;
  }

  .tituloRight{
    @include flex(flex,row-reverse);
    padding-bottom: 1rem;
    padding-right: 3rem;
  }


