@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;300;400;500&family=Roboto:wght@300;400;500&display=swap');

// Estilos 

$fontMain:'Roboto', sans-serif;
$fontSecond: 'Montserrat', sans-serif;
$fontThride: 'Anton', sans-serif;

// Tamaños 

$textXl: 12rem;
$textLg: 6rem;
$textMd: 3rem;
$textSm: 2.8rem;
$textSm2: 2.5rem;
$textXs: 1.8rem;


// Map Colores

$paleta:(
	'uno': #041634,
	'dos': #FFF,
	'tres': #6EC1E4,
)

